.erro {
    color: #f0283c;
    font-weight: bold;
}

.sucesso {
    color: #38e76c;
    font-weight: bold;
}

.cabecalho {
    background-color: rgba(120, 130, 214, 0.863);
    height: 130px;
    display: flex;
    justify-content: left;
    gap: 80px;
    align-items: center;
    color: white;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.7);
    position: static;
}

.logo_cabecalho{
    height: 130px;
    width: 200px;
    transition: transform 0.5s ease;
}

.logo_cabecalho:hover{
    transform: scale(0.96);
     transform: rotate(360deg);
}

.botao{
    appearance: none;
    border: none;
    background-color: rgba(120, 130, 214, 0.863);
    height: 180px;
    width: 400px;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    color: white;
    font-size: clamp(14px, 8cqw, 28px); 
    box-shadow: -12px 12px 15px rgba(0, 0, 0, 0.35);
    border-radius: 3px;
}

.botao:hover{
    background-color: rgba(103, 117, 241, 0.863);
    cursor: pointer;
}

.botao:active{
   transform: scale(0.96);
}

body{
    background: linear-gradient(180deg, #9db6ee 0%, #E3EDFC 100%);
}

.display_flex{
    display: flex;
}

.tres_colunas{
    display: flex;
    columns: 3;
    justify-content: center;
    gap: 150px;
}

.justify-content-center{
    display: flex;
    justify-content: center;
}


.duas_colunas{
     display: flex;
    columns: 2;
    justify-content: center;
    gap: 150px;
 
}

.align-items-center{
    display: flex;
    align-items: center;
}

.padding20 {
    padding: 20px;
}

/* Index Inicio */
.index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.A {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* Fim */

/* Animação de afundar quando passar o mouse em cima */

.afundar:hover{
    transform: scale(0.90);
    cursor: pointer;
}