.cabecalho {
    background-color: rgba(120, 130, 214, 0.863);
    height: 130px;
    display: flex;
    justify-content: left;
    gap: 80px;
    align-items: center;
    color: white;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.7);
    position: static;
}

.logo_cabecalho{
    height: 130px;
    width: 200px;
}

.botao{
    background-color: rgba(120, 130, 214, 0.863);
    height: 80px;
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    color: white;
    font-size: clamp(14px, 8cqw, 28px); 
}

.botao:hover{
    background-color: rgba(103, 117, 241, 0.863);
    cursor: pointer;
}

body{
    background: linear-gradient(180deg, #9db6ee 0%, #E3EDFC 100%);
}